.Rproj.user
.Rhistory
.RData
.Ruserdata
ncn_sukces_jednostel.Rproj
analysis.R
Wnioskodawcy_w_konkursach_NCN_rozstrzygnietych_w_2021_r_wraz_z_panelami_dziedzinowymi.xlsx
Wnioskodawcy_w_konkursach_NCN_rozstrzygnietych_w_latach_2011-2021_wraz_z_dyscyplinami_naukowymi_i_artystycznymi(1).xlsx
Wnioskodawcy_w_konkursach_NCN_rozstrzygnietych_w_latach_2011-2021_wraz_z_dyscyplinami_naukowymi_i_artystycznymi.xlsx
Wnioskodawcy_w_konkursach_NCN_rozstrzygnietych_w_latach_2011-2021_wraz_z_panelami_dziedzinowymi.xlsx